In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go

In [2]:
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

In [3]:
headers = {"User-Agent": "Mozilla/5.0"}

In [4]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
tables = soup.find_all("table")

In [6]:
for table in tables:
    if "GameStop Quarterly Revenue" in str(table):
        gme_revenue = pd.read_html(str(table))[0]
        break

/tmp/ipykernel_8105/1765350008.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  gme_revenue = pd.read_html(str(table))[0]

In [7]:
gme_revenue.columns = ['Date', 'Revenue']
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue['Revenue'] != ""]

In [8]:
gme_revenue.tail()

          Date Revenue
61  2010-01-31  $3,524
62  2009-10-31  $1,835
63  2009-07-31  $1,739
64  2009-04-30  $1,981
65  2009-01-31  $3,492