In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"

In [3]:
headers = {"User-Agent": "Mozilla/5.0"}

In [4]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
tables = soup.find_all("table")

In [6]:
for table in tables:
    if "Tesla Quarterly Revenue" in str(table):
        tesla_revenue = pd.read_html(str(table))[0]
        break

/tmp/ipykernel_7579/933865415.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tesla_revenue = pd.read_html(str(table))[0]

In [7]:
tesla_revenue.columns = ['Date', 'Revenue']
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

In [9]:
tesla_revenue.tail()

          Date Revenue
58  2010-09-30     $31
59  2010-06-30     $28
60  2010-03-31     $21
62  2009-09-30     $46
63  2009-06-30     $27